**/node_modules
**/dist
**/build
**/.pnpm
**/.pnpm-store
**/.cache
coverage
**/coverage

.git
.gitignore
.gitattributes
.vscode
**/.vscode
.idea
**/.idea
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
.cursor

.env
.env.*
**/.env
**/.env.*
*.log
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.github
.husky
.changeset
**/tests
**/__tests__
**/*.test.*
**/*.spec.*

*.md
**/*.md

!packages/**