# Node modules & lockfiles
node_modules/

# Build outputs
dist/
**/dist/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# ENV
.env*
**/.env*
**/*.env

#
# Docker environment files (except local dev files)
docker/shared.env

# Husky
.husky/

# Changesets
changeset/

# Coverage
coverage/
**/coverage/
**/coverage-*/
*.lcov
.nyc_output

*.key
*.pem