networks:
    dev:
        driver: bridge

volumes:
    mongodb_data:
        driver: local
    temporal_elasticsearch_data:
        driver: local
    temporal_postgresql_data:
        driver: local

services:
    mongodb:
        container_name: mongodb
        image: mongo:7.0.5
        restart: unless-stopped
        networks: [dev]
        command: ['--replSet', 'rs0', '--keyFile', '/etc/mongo/replica.key']
        ports:
            - 27017:27017
        env_file:
            - ./env/mongodb.env
        volumes:
            - ./mongo/init.js:/docker-entrypoint-initdb.d/init.js:ro
            - ./mongo/healthcheck.js:/etc/mongo/healthcheck.js:ro
            - ./mongo/replica.key:/etc/mongo/replica.key:ro
            - mongodb_data:/data/db
        healthcheck:
            test: test $(echo $(mongosh -u $$MONGO_INITDB_ROOT_USERNAME -p $$MONGO_INITDB_ROOT_PASSWORD --quiet /etc/mongo/healthcheck.js)) -eq 1
            interval: 60s
            timeout: 10s
            retries: 2
            start_period: 40s

    api:
        container_name: api
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: api
        restart: unless-stopped
        ports:
            - '3000:3000'
        networks: [dev]
        volumes:
            - ../apps/api/src:/prod/api/src:ro
        depends_on:
            mongodb:
                condition: service_started
            temporal:
                condition: service_started
        env_file:
            - ./env/api.env

    ui:
        container_name: ui
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: ui
            args:
                NEXT_PUBLIC_API_URL: http://localhost:3000/api/v1
        restart: unless-stopped
        ports:
            - '8080:8080'
        networks: [dev]
        env_file:
            - ./env/ui.env

    temporal:
        container_name: temporal
        image: temporalio/auto-setup:1.26.3.0
        restart: unless-stopped
        depends_on:
            - temporal-postgresql
            - temporal-elasticsearch
        ports:
            - '7233:7233'
        env_file: ./env/temporal.env
        networks: [dev]
        healthcheck:
            test:
                [
                    'CMD',
                    'tctl',
                    '--address',
                    'temporal:7233',
                    'workflow',
                    'list',
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 90s

    temporal-ui:
        container_name: temporal-ui
        image: temporalio/ui:2.32.0
        restart: unless-stopped
        env_file: ./env/temporal-ui.env
        depends_on:
            - temporal
        ports:
            - '8088:8080'
        networks: [dev]

    temporal-elasticsearch:
        container_name: temporal-elasticsearch
        restart: unless-stopped
        image: elasticsearch:7.17.23
        environment:
            - cluster.routing.allocation.disk.threshold_enabled=true
            - cluster.routing.allocation.disk.watermark.low=512mb
            - cluster.routing.allocation.disk.watermark.high=256mb
            - cluster.routing.allocation.disk.watermark.flood_stage=128mb
            - discovery.type=single-node
            - ES_JAVA_OPTS=-Xms256m -Xmx256m
            - xpack.security.enabled=false
        volumes:
            - temporal_elasticsearch_data:/var/lib/elasticsearch/data
        networks: [dev]

    temporal-postgresql:
        container_name: temporal-postgresql
        image: postgres:12.22
        restart: unless-stopped
        env_file: ./env/temporal-postgresql.env
        networks: [dev]

        volumes:
            - temporal_postgresql_data:/var/lib/postgresql/data

    typescript-worker:
        container_name: typescript-worker
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: typescript-worker
        restart: unless-stopped
        networks: [dev]
        volumes:
            - ../apps/typescript-worker/src:/prod/typescript-worker/src:ro
        depends_on:
            temporal:
                condition: service_started
        env_file:
            - ./env/typescript-worker.env

    workflows:
        container_name: workflows
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: workflows
        restart: unless-stopped
        networks: [dev]
        volumes:
            - ../apps/workflows/src:/prod/workflows/src:ro
        depends_on:
            mongodb:
                condition: service_started
            temporal:
                condition: service_started
        env_file:
            - ./env/workflows.env
