# Temporal Server Configuration

# Database Configuration
DB=postgres12
DB_PORT=5432
POSTGRES_USER=temporal
POSTGRES_PWD=temporal
POSTGRES_SEEDS=temporal-postgresql

# Elasticsearch Configuration
ENABLE_ES=false
ES_SEEDS=temporal-elasticsearch
ES_VERSION=v7

# Temporal Configuration
DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml

