# Dependencies
node_modules/

# Build Output
dist/
**/*.js
**/*.js.map
**/*.d.ts

# Environment
.env
.env.*.local

# Logs
logs/
*.log

# Test outputs
coverage/
coverage-*/
*.lcov
.nyc_output
jest.config.ts

# Editor & OS
.vscode/
.DS_Store
